.page-header{
margin-top: 0px;
background-color: #FBC002;
}

.filters{
margin-top : 30px;
}
.vertical-bar{
border-right : 2px solid #EEEEEE;
}

.axes path,
.axes line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
